<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <div class="name_container">
    <h1 class="mat-h1">{{ name }}</h1>
  </div>
  <div>
    <button mat-fab (click)="generate()">
      <mat-icon class="primary" aria-label="Generate Cato">pets</mat-icon>
    </button>
  </div>
  <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="variants.addTabooki">Tabooki</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="variants.addPiju">Piju</mat-checkbox>
    </section>
</div>

<router-outlet></router-outlet>